<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </configSections>

    <!-- Unity -->
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <!--<container name="MTO.CMS.Oferta.Dal">
            <register type="MTO.Practices.Common.IFactory, MTO.Practices.Common"
                      mapTo="MTO.CMS.Oferta.Dal.Factory, MTO.CMS.Oferta.Dal" />
        </container>
        <container name="MTO.CMS.VisualizadorOferta.Dal">
            <register type="MTO.Practices.Common.IFactory, MTO.Practices.Common"
                      mapTo="MTO.CMS.VisualizadorOferta.Dal.Factory, MTO.CMS.VisualizadorOferta.Dal" />
        </container>
        <container name="MTO.CMS.File.Dal">
            <register type="MTO.Practices.Common.IFactory, MTO.Practices.Common"
                      mapTo="MTO.CMS.File.Dal.Factory, MTO.CMS.File.Dal" />
        </container>
        <container name="MTO.CMS.Email.Dal">
            <register type="MTO.Practices.Common.IFactory, MTO.Practices.Common"
                      mapTo="MTO.CMS.Email.Dal.Factory, MTO.CMS.Email.Dal" />
        </container>
        <container name="MTO.CMS.Dal">
            <register type="MTO.Practices.Common.IFactory, MTO.Practices.Common"
                      mapTo="MTO.CMS.Dal.Factory, MTO.CMS.Dal" />
        </container>
        <container name="MTO.CMS.Oferta.Service">
            <register type="MTO.Practices.Common.IFactory, MTO.Practices.Common"
                      mapTo="MTO.CMS.Oferta.Service.Factory, MTO.CMS.Oferta.Service" />
        </container>
        <container name="MTO.CMS.VisualizadorOferta.Service">
            <register type="MTO.Practices.Common.IFactory, MTO.Practices.Common"
                      mapTo="MTO.CMS.VisualizadorOferta.Service.Factory, MTO.CMS.VisualizadorOferta.Service" />
        </container>
        <container name="MTO.CMS.Email.Service">
            <register type="MTO.Practices.Common.IFactory, MTO.Practices.Common"
                      mapTo="MTO.CMS.Email.Service.Factory, MTO.CMS.Email.Service" />
        </container>
        <container name="MTO.CMS.Service">
            <register type="MTO.Practices.Common.IFactory, MTO.Practices.Common"
                      mapTo="MTO.CMS.Service.Factory, MTO.CMS.Service" />
        </container>-->
        <container name="Manytoone.Logger">
            <register type="MTO.Practices.Common.ILogger, MTO.Practices.Common"
                      mapTo="MTO.Practices.Common.DebugLogger, MTO.Practices.Common" />
        </container>
        <container>
            <register type="MTO.Practices.Common.IContext, MTO.Practices.Common"
                      mapTo="MTO.Practices.Common.TestContext, MTO.Practices.Common" />
        </container>
    </unity>
</configuration>